section {
    width: 200px;
    height: 100vh;
    margin-left: -10px;
    margin-top: -10px;
    display:flex;
    flex-direction: column;
    background-color: rgb(89, 89, 228);
    color: white;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.bloque {
    background-color: black;
    width: 180px;
    height: 120px;
}

.logo {
    text-align: center;
    color: white;
    font-size: 28px;
    font-weight: bold;
}

a {
    color: #2b2b2b;
    text-decoration: none;
}

a:hover {
    color: #2b2bb2;
    transition: 300ms;
}

.end {
        margin-top: auto;
        padding-bottom: 20px;
    }

.user {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}