.app {
    background-color: rgb(201, 230, 255);
    border: solid 3px yellow;
    margin: 20px;
    padding: 20px;
}

.welcome {
    background-color: rgb(203, 250, 203);
    border-radius: 20px;
    border: 2px solid rgb(165, 165, 165);
}

button {
    background-color: black;
    border-color: greenyellow;
    color: white;
}

.clock {
    color: rgb(17, 109, 97);
    border: dotted 5px;
}

.counter {
    color: red;
}

.new-todo {
    background-color: beige;
    margin-top: 2rem;
}

.litodo {
    color: violet;
}